<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock title %}</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script defer src="{% static 'js/base.js' %}"></script>

    {% block css %} {% endblock css %}
</head>
<body>

    <h2>{{ request.user }}</h2>
    
   



    {% block content %}

    {% endblock content %}



    <footer>
        <p>Footer</p>   

    </footer>    
</body>
</html>